{% extends "base.html" %}
{% from "_macros.html" import page_head_section %}

{% set active_page = "login" %}

{% block title %}
    Login
{% endblock %}

{% block page_head_section %}
    {{ page_head_section("Login") }}
{% endblock %}

{% block login_form_section %}
    {% if form.errors %}
        <div class="main-form m-auto mb-3 alert alert-warning alert-dismissible fade show" role="alert">
            {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <ul>
                        <li class="fw-bold">{{ error }}</li>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    {% for message in get_flashed_messages() %}
        <div class="main-form m-auto mb-3 alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container">
        <form method="POST" action="{{ url_for('login') }}" class="main-form m-auto bg-form p-4">
            {{ form.hidden_tag() }}
            <div class="row justify-content-center">
                <div class="mb-3 col-sm-12">
                    {{ form.inputEmail.label(class_="form-label") }}
                    {{ form.inputEmail(autofocus=true, autocomplete="off", class_="form-control") }}
                </div>
                <div class="mb-3 col-sm-12">
                    {{ form.inputPassword.label(class_="form-label") }}
                    {{ form.inputPassword(class_="form-control") }}
                </div>
                <div class="mb-3 col-sm-12 text-center">
                    <span class="fst-italic">Forgot Password?</span>
                    <a href="" class="text-white fst-italic text-decoration-none fw-bold">Click Here</a>
                </div>
                <div class="mb-3 col-sm-12 text-center">
                    <span class="fst-italic">New Customer?</span>
                    <a href="{{ url_for('register')}}" class="text-white fst-italic text-decoration-none fw-bold">Register Here</a>
                </div>
                {{ form.submit(class_="btn w-75 btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
