{% extends "base.html" %}
{% from "_macros.html" import page_head_section, register_form_section %}

{% set active_page = "register" %}

{% block title %}
    Register
{% endblock %}

{% block page_head_section %}
    {{ page_head_section("Register") }}
{% endblock %}

{% block register_form_section %}

    {% if form.errors %}
    <div class="main-form m-auto mb-3 alert alert-warning alert-dismissible fade show" role="alert">
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <ul>
                    <li class="fw-bold">{{ error }}</li>
                </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    {% for message in get_flashed_messages() %}
        <div class="main-form m-auto mb-3 alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container">
        <form method="POST" action="{{ url_for('register')}}" class="main-form m-auto bg-form p-4">
            {{ form.hidden_tag() }}
            <div class="row justify-content-center">
                <div class="mb-3 col-sm-12">
                    {{ form.inputFullName.label(class_="form-label") }}
                    {{ form.inputFullName(autofocus=true, autocomplete="off",class_="form-control") }}
                </div>
                <div class="mb-3 col-sm-12">
                    {{ form.inputEmail.label(class_="form-label") }}
                    {{ form.inputEmail(autocomplete="off", class_="form-control") }}
                </div>
                <div class="mb-3 col-sm-12">
                    {{ form.inputPassword.label(class_="form-label") }}
                    {{ form.inputPassword(class_="form-control") }}
                </div>
                <div class="mb-3 col-sm-12">
                    {{ form.inputPasswordRepeat.label(class_="form-label") }}
                    {{ form.inputPasswordRepeat(class_="form-control") }}
                </div>
                <div class="mb-3 col-sm-12 text-center">
                    <span class="fst-italic">Already a customer?</span>
                    <a href="{{ url_for('login')}}" class="text-white fst-italic text-decoration-none fw-bold">Login Here</a>
                </div>
                <div class="mb-3 form-check col-sm-12 text-center">
                    <label class="form-check-label" for="termsCheck">
                        {{ form.inputCheckBoxTerms(id_="termsCheck", class_="form-check-input") }}
                        Agree to terms & conditions
                    </label>
                </div>
                {{ form.submit(class_="btn w-75 btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}









